{
    "presets": ["@babel/env", ["@babel/typescript", { "jsxPragma": "h" }]],
    "plugins": [
        ["@babel/transform-react-jsx", { "pragma": "h" }],
        "@babel/proposal-optional-chaining",
        "@babel/proposal-nullish-coalescing-operator"
    ]
}
